# import libraries

In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import date , datetime

# getting files

In [2]:
project_path = os.getcwd()
file_path = f'{project_path}\\data\\'
seprate_file_path = file_path+'\\seprate\\'

In [3]:
filelist = seprate_file_path
stock_file_names = os.listdir(filelist)

# prints all files
print(stock_file_names)

['AAPL.csv', 'AMZN.csv', 'GOOG.csv', 'NFLX.csv']

# concating all records in stock

In [4]:
stock = []
count = 0
length = len(stock_file_names)
print('')
print('--------------------- Conversion Started ---------------------')
print('')
for i in stock_file_names:
    print(f'File Name {count+1}):- ', i)
    file_divide = i.split('.')
    stock_name = file_divide[0]
    #print(stock_name)
    stock_data = pd.read_csv(seprate_file_path+f'{i}')
    stock_data['stock_name'] = f'{stock_name}'
    #print('')
    #print(stock_data)
    stock.append(stock_data)
    count+=1
print('')
print('--------------------- Conversion Finished ---------------------')
print('')
stock = pd.concat(stock,ignore_index=1)

--------------------- Conversion Started ---------------------

File Name 1):-  AAPL.csv
File Name 2):-  AMZN.csv
File Name 3):-  GOOG.csv
File Name 4):-  NFLX.csv

--------------------- Conversion Finished ---------------------

# show stock data / load stock data

In [5]:
print('stock is running')

stock is running

In [6]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,stock_name
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544688,493729600,AAPL
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556003,601904800,AAPL
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451722,552160000,AAPL
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439793,477131200,AAPL
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.482607,447610800,AAPL
...,...,...,...,...,...,...,...,...
12279,2022-02-24,355.089996,390.730011,354.720001,390.029999,390.029999,7068700,NFLX
12280,2022-02-25,386.609985,391.290009,375.579987,390.799988,390.799988,4841600,NFLX
12281,2022-02-28,387.329987,397.750000,382.130005,394.519989,394.519989,5035000,NFLX
12282,2022-03-01,391.600006,395.000000,383.709991,386.239990,386.239990,3290400,NFLX
12283,2022-03-02,388.929993,389.220001,375.209991,380.029999,380.029999,5356800,NFLX

# stock describe

In [7]:
stock.shape

(12284, 8)

In [8]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12284 entries, 0 to 12283
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        12284 non-null  object
 1   Open        12284 non-null  float64
 2   High        12284 non-null  float64
 3   Low         12284 non-null  float64
 4   Close       12284 non-null  float64
 5   Adj Close   12284 non-null  float64
 6   Volume      12284 non-null  int64
 7   stock_name  12284 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 767.9+ KB

# removing all null values

In [9]:
stock.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
stock_name    0
dtype: int64

In [10]:
### =>  getting percentage of null data values from stock

In [11]:
null_vals = stock.isnull().sum() / stock.shape[0] * 100

In [12]:
null_vals

Date          0.0
Open          0.0
High          0.0
Low           0.0
Close         0.0
Adj Close     0.0
Volume        0.0
stock_name    0.0
dtype: float64

### =>  droping null values from stock

In [13]:
null_val_cols = null_vals[null_vals > 30].keys()

In [14]:
stock.drop(null_val_cols,axis=1,inplace=True)

In [15]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume,stock_name
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544688,493729600,AAPL
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556003,601904800,AAPL
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451722,552160000,AAPL
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439793,477131200,AAPL
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.482607,447610800,AAPL
...,...,...,...,...,...,...,...,...
12279,2022-02-24,355.089996,390.730011,354.720001,390.029999,390.029999,7068700,NFLX
12280,2022-02-25,386.609985,391.290009,375.579987,390.799988,390.799988,4841600,NFLX
12281,2022-02-28,387.329987,397.750000,382.130005,394.519989,394.519989,5035000,NFLX
12282,2022-03-01,391.600006,395.000000,383.709991,386.239990,386.239990,3290400,NFLX
12283,2022-03-02,388.929993,389.220001,375.209991,380.029999,380.029999,5356800,NFLX

In [16]:
stock.isnull().sum() / stock.shape[0] * 100

Date          0.0
Open          0.0
High          0.0
Low           0.0
Close         0.0
Adj Close     0.0
Volume        0.0
stock_name    0.0
dtype: float64

In [17]:
stock.dropna(inplace=True)

In [18]:
stock.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
stock_name    0
dtype: int64

In [ ]:
stock

# reshort stock data

In [ ]:
stock = stock[['Date','stock_name','Open','High','Low','Close','Volume']]
stock

In [ ]:
unique_stocks = stock.stock_name.unique()
unique_stocks

In [ ]:
stock[(stock.stock_name == 'AAPL')].sample(frac=0.01)

In [ ]:
stock_keys = stock.drop(['Date','stock_name'],axis=1).keys()
color = ['c','g','r','k','#EC008C']

In [ ]:
stock_keys

In [ ]:
color

In [ ]:
datetime = datetime.now()
current_time_str= f'{datetime.day}.{datetime.month}.{datetime.year}({datetime.hour}.{datetime.minute}.{datetime.second})'
print(current_time_str)
desired_folder = f'{project_path}\\charts\\'
os.makedirs(f'{desired_folder}\\{current_time_str}')

In [ ]:
count= 0
for i in unique_stocks:
    print(f'{count+1}). File start :- ',i)
    condition = stock[(stock.stock_name == i)]
    condition = condition.sample(frac=0.01)
    print(f'{i} :- ploting executed')
    fig , ax = plt.subplots(nrows=1,ncols=5,figsize=(60,8))
    col_count = 0
    dot = '.'
    for stk_name in range(0,len(stock_keys)):
        for graph_color in range(0,len(color)):
            if (stk_name == graph_color):
                ax[col_count].plot(condition['Date'],condition[stock_keys[stk_name]],c=f'{color[graph_color]}')
                ax[col_count].set_title(f'{i} Date vs {stock_keys[stk_name]}', fontstyle='italic')
                ax[col_count].set_xlabel('Date')
                ax[col_count].set_ylabel(f'{stock_keys[stk_name]}')
                col_count +=1
                
    print('---------------- File Saving Start----------------')
    graphsave_folder = desired_folder+current_time_str+'\\'
    file_datetime = datetime.now()
    file_current_time_str= f'{file_datetime.day}.{file_datetime.month}.{file_datetime.year}({file_datetime.hour}.{file_datetime.minute}.{file_datetime.second})'
    plt.savefig(graphsave_folder + f'{i}_{file_current_time_str}.png')
    print(f'{i} figure saved successfully')
    
    print(f'{i} show ploting start')
    plt.show()
    print(f'{i} ploting done')

    print('Other file now executing')
    print('-------------------------------------------------')
    print('')
    count +=1

print('File Finished')

In [ ]:
stock

In [ ]:
stk_names = stock['stock_name'].unique().tolist()

In [ ]:
for i in stk_names:
    print(i)